<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Hospital Management System</title>
</head>
<body>
    <div class="d-flex">
        {% include 'Components/sidebar.html' %}
        <div class="flex-grow-1">
            {% include 'Components/navbar.html' %}
            <main class="flex-grow-1 p-4">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>